<!-- TODO containers shouldn't be nested -->
<div class="container">

    <!-- TODO containers shouldn't be nested -->
    <div class="container">
        <h2>Metadata Summary
            <small>
                <br>
                This section details metadata about each of your computers.
            </small>
        </h2>
        <hr>
    </div>

    <!-- TODO containers shouldn't be nested -->
    <div class="container">

        <!-- TODO Make this into a directive or have as part of the outer page rather than the ng-vew -->
        <uib-tabset class="host-tabs">
            <uib-tab ng-repeat="machineName in machineNames" select="activeHost(machineName)">
                <uib-tab-heading>
                    <div>
                        <span>{{machineNames[$index]}}</span>
                        <i class="glyphicon glyphicon-edit" ng-click="editMachineTab(machineName, $index)"></i>
                    </div>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>

        <!-- TODO containers shouldn't be nested -->
        <div class="container">
            <uib-accordion close-others="false">
                <uib-accordion-group is-open="true">
                    <uib-accordion-heading>
                        Metadata View
                    </uib-accordion-heading>

                    <table class="table">
                        <tr>
                            <th>Hostname</th>
                            <td>{{hostname}}</td>
                        </tr>
                        <tr>
                            <th>MAC Address</th>
                            <td>{{macAddress}}</td>
                        </tr>
                        <tr>
                            <th>Operating System</th>
                            <td>{{operatingSystem}}</td>
                        </tr>
                        <tr>
                            <th>Origin Public IP Address</th>
                            <td>{{originPublicIPAddress}}</td>
                        </tr>
                    </table>

                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>