
h1
  color: #2E6492

// Nav Bar Header styling
.navbar-default
  background-color: #EFEFEF
  border-top: none
  border-left: none
  border-right: none
  border-bottom: solid
  border-color: #D4D2D2
  border-width: 1px
  border-radius: 0

.navbar-default
  color: #900002

.navbar-default:hover
  color: #051890

.jumbotron
  background-color: #FFE3B8

// Button color override
.btn-primary
  color: #fff
  background-color: #E4841E
  border-color: #403507

.btn-primary:active
  color: #fff
  background-color: #905928
  border-color: #403507

.btn-primary:hover
  color: #fff
  background-color: #905928
  border-color: #403507

// CPU page styling
.cpu-canvas
  margin-left: auto
  margin-right: auto
  display: block
  width: 100%
  height: 100%

.cpu-isolation-block
  float: left
  position: relative
  width: 50%

.host-tabs
  margin-top: 20px
  margin-bottom: 20px

// Footer Styling
html
  position: relative
  min-height: 100%

body
  margin-bottom: 100px

.footer-content
  margin-top: 20px;
  text-align: right;

.footer
  border-top: solid
  border-color #D4D2D2
  border-width: 1px

  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  background-color: #A2A2A2
  font-style: italic