<!-- TODO containers shouldn't be nested -->
<div ng-cloak class="container">

    <!-- TODO containers shouldn't be nested -->
    <div class="container">
        <h2>Memory Sampling
            <small>
                <br>
                This section details metrics of the Memory usage for each of your computers.
            </small>
        </h2>
        <hr>
    </div>

    <!-- TODO containers shouldn't be nested -->
    <div class="container">
        Refresh Rate (Seconds)
        <rzslider rz-slider-model="timeoutSlider.value"
                  rz-slider-options="timeoutSlider.options">
        </rzslider>
        <hr>
    </div>

    <!-- TODO Make this into a directive or have as part of the outer page rather than the ng-vew -->
    <uib-tabset class="host-tabs">
        <uib-tab ng-repeat="tab in hosts" select="activeHost(tab)">
            <uib-tab-heading>
                <div>
                    <span>{{hosts[$index]}}</span>
                    <!--<i class="glyphicon glyphicon-edit" ng-click="editHostTab(tab)"></i>-->
                </div>
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>

    <!-- TODO containers shouldn't be nested -->
    <div class="container">
        <uib-accordion close-others="false">
            <uib-accordion-group is-open="memory.open" ng-init="memory.open=true">
                <uib-accordion-heading>
                    Memory Usage View -
                    <small>(Total Available Memory: {{totalMemoryAvailable}})</small>
                    <i class="pull-right glyphicon"
                       ng-class="{'glyphicon-chevron-down': memory.open, 'glyphicon-chevron-right': !memory.open}"></i>
                </uib-accordion-heading>
                <div class="chart-container">
                    <canvas class="chart chart-doughnut"
                            chart-data="memoryDataSeries" chart-labels="labels" chart-legend="true">
                    </canvas>
                </div>
            </uib-accordion-group>
        </uib-accordion>

    </div>

</div>
