<div class="container">

    <div class="page-header">
        <h1>CPU Sampling
            <p>
                <small>
                    This section details metrics of the CPU usage for each of your computers. The metrics here are
                    broken down to the level of each individual core.
                </small>
            </p>
        </h1>
    </div>

    <uib-tabset class="host-tabs">
        <uib-tab ng-repeat="tab in hosts" heading="{{hosts[$index]}}">
        </uib-tab>
    </uib-tabset>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CPU Core Overlay View</h3>
            </div>
            <div class="panel-body">
                <canvas id="lineOverlay" class="chart chart-line cpu-overlay-canvas"
                        chart-data="cpuDataSeries" chart-labels="labels" chart-series="series"
                        chart-click="onClick"
                        width="1000" height="400">
                </canvas>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">CPU Core Isolation View</h3>
            </div>
            <div class="panel-body">

                <div class="cpu-overlay-canvas">
                    <!-- TODO initialising the array using ng-init is nasty but easy... Move to controller-->
                    <div class="cpu-isolation-block" ng-repeat="cpuData in cpuDataSeries"
                         ng-init="cpuCoreData=[cpuData]">
                        <canvas id="lineIsolated" class="chart chart-line"
                                chart-data="cpuCoreData" chart-labels="labels" chart-series="cpuCoreSeries"
                                chart-click="onClick"
                                width="550" height="300">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




